%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%{erl_opts, [debug_info]}.
{erl_opts, [debug_info, {d, 'DEBUG'}]}.

{deps, [{ranch, ".*",
		 {git, "git://github.com/extend/ranch.git", {branch, "master"}},
		 [{alt_url, "https://github.com/extend/ranch.git"}]}
]}.
