%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [debug_info
%			, {d, 'DEBUG'}
		   ]}.

{deps, [{ranch, ".*",
		 {git, "git://github.com/extend/ranch.git", {branch, "master"}},
		 [{alt_url, "https://github.com/extend/ranch.git"}]},
		{uuid, ".*",
		 {git, "git://gitorious.org/avtobiff/erlang-uuid.git", {branch, "master"}},
		 [{alt_url, "git://github.com/avtobiff/erlang-uuid.git"}]}
]}.
